<!doctype html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- You could replace this locally if you would like. -->
<title>LED Control Panel</title>
</head>
<body>
	<center>
		<div class="dropdown">
			<button class="dropbtn">Choose Mode</button>
			<div class="dropdown-content">
				{% for file in files %}
					<a class="selection" file="{{file[0]}}" vars="{{file[1]}}">{{file[0]}}</a>
				{% endfor %}
			</div>
		</div>
	</center>
<script src="/static/js/led_buttons.js"></script>
</body>
</html>
